
<div class="container">
	<h4>{{ 'ResearchGroupForm' | translate }}</h4>
	<form [formGroup]="formGroup" (ngSubmit)="saveModel(researchGroupFilterModel)">
		<div class="form-group">
			<label for="form-investigationLine">InvestigationLine</label>
			<input type="text" class="form-control" [(ngModel)]="researchGroupFilterModel.investigationLine" id="form-investigationLine" name="investigationLine" placeholder="InvestigationLine" formControlName="investigationLineCtrl" >
			</div>
			<div class="form-group">
				<label for="form-state">State</label>
				<input type="text" class="form-control" [(ngModel)]="researchGroupFilterModel.state" id="form-state" name="state" placeholder="State" formControlName="stateCtrl" >
				</div>
				<div class="form-group">
					<label for="form-category">Category</label>
					<input type="text" class="form-control" [(ngModel)]="researchGroupFilterModel.category" id="form-category" name="category" placeholder="Category" formControlName="categoryCtrl" >
					</div>
					<div class="form-group">
						<label for="form-name">Name</label>
						<input type="text" class="form-control" [(ngModel)]="researchGroupFilterModel.name" id="form-name" name="name" placeholder="Name" formControlName="nameCtrl" >
						</div>
						<div class="form-group">
							<label for="form-dependency">dependency</label>
							<search-dependency-combo-box  [debugFlag]=true [placeHolder]="'selectDependency'" (itemSelected)="$event ? researchGroupFilterModel.dependency=$event.item : researchGroupFilterModel.dependency=$event" [itemControl]="formGroup.controls.dependencyCtrl" id="form-dependency"></search-dependency-combo-box>
						</div>
						<div class="form-buttons"> 
							<button type="submit" class="btn btn-default" (click)="cleanFields()" >{{'clean' | translate}}</button>
							<button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">{{'apply' | translate}}</button>
						</div>
					</form>
				</div>