<div class="collapser-container-grid collapsed">
	<div class="collapser-filter-container collapsed">
		<div class="collapser-side-content">
			<div class="collapser-side-forms">
				<research-group-form-search-filter></research-group-form-search-filter>
			</div>
		</div>
		<div class="collapser">
			<button class="btn btn-light collapser-button-vertical" (click)="sidebarToggle(); isLeftIcon = !isLeftIcon;">
				<span *ngIf="isLeftIcon; else isRightIcon " class="oi oi-caret-left"></span>
				<ng-template #isRightIcon>
					<span class="oi oi-caret-right"></span>
				</ng-template>
			</button>
		</div>
	</div>
	<div class="collapser-list-container-grid">
		<div class="grid-container">
			<div>
				<button type="button" class="btn btn-default" routerLink="../create">
					<span class="oi oi-plus"></span> {{'create' | translate}}
				</button>
			</div>
			<div class='card-container'>
				<div class="card" *ngFor="let item of researchgroups">                   
					<div class="card-body">
						<h5 class="card-title">{{item.name}}</h5>                        
						<p class="card-btn" *ngIf="!isOnlyRead">
							<a [routerLink]="['../edit', item.id]" class="btn btn-md" role="button">
								<span class="oi oi-pencil button-edit">
								</span>
							</a>
							<a (click)="confirmDelete(item.id)" class="btn btn-md" role="button">
								<span class="oi oi-trash button-delete">
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
			
			<div class="no-items" *ngIf="!researchgroups || researchgroups.length == 0 ">
				<div class="center-img-text" *ngIf="!isFetchFinish">
					<mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'" [diameter]=200></mat-progress-spinner>
				</div>
				<div class="center-img-text" *ngIf="isFetchFinish">
					<h2><span class="oi oi-magnifying-glass"></span> {{ 'noResults' | translate}}</h2>
				</div>  
			</div>
			
			<div *ngIf="totalRecords > 0" class="center-pagination">
				<academia-pagination  [fullPaginator]=true [collectionSize]="totalRecords" [pageSize]="pageSize" [page]="page" (pageChanged)="pageChanged($event)"></academia-pagination>
			</div>
			
			
			
			
		</div>
	</div>
</div>     





