// Colapser styles
.collapser-list-container-grid{
    padding: 50px;
    
}

.collapser-button-vertical{
    padding: 5px;
    height: 100px;
    z-index: 15;
    border-radius: 0px 10px 10px 0px;
}

.collapser-container-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.collapser-container-grid.collapsed{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.collapser-filter-container{
    padding:0px;
    background-color: theme-color('light');
    height: 100%;
    display: flex;
    background: theme-color('light');
    transition: all .3s;
    justify-content: stretch;
}
.collapser-side-content{
    width: 100%;
    border-right: 1px solid;
    border-color: $bound;
}
.collapser-side-forms{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 5px;
    padding: 10px;
}

.collapser{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #ffffff;
}

.collapser button{
    border-color: $bound;
    border-left: 0px;

}

.collapser-filter-container.collapsed {
    transform: translateX(-94%);
    position: fixed;
    background-color: transparent;

}

.collapser-filter-container.collapsed div{

    background-color: transparent;
}